p {
    color: #121212;
    font-size: 18px;
    margin-top: 20px;
}

section {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

section a {
    color: #0000ee;
    margin-top: 20px;
    text-decoration: none;
    word-wrap: break-word;
    transition: 0.2s;
}

section a:hover {
    color: #0000aa;
}
