body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 40px;
    background-color: #f5f5f5c5;
}

nav > a {
    text-decoration: none;
    color: #444;
    font-size: 18px;
    transition: 0.2s;
}

nav > a:hover {
    color: #222;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-top: 30px;
}

form {
    margin-top: 20px;
}

input[type='url'] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type='submit'] {
    width: 80%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

input[type='submit']:hover {
    background-color: #45a049;
}




