@import url('assets/fonts/ggsans/stylesheet.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'gg sans', sans-serif;
}

main {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

header {
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    height: 50px;
    background-color: #f5f5f5c5;
}

nav > div:first-child {
    grid-column: 2/3;
}

nav > div:last-child {
    grid-column: 3/4;
    gap: 20px;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 40px;
}

nav > div > a > svg {
    fill: #333;
    height: 38px;
    width: 38px;
    transition: 0.2s;
}

nav > div > a > svg:hover {
    width: 42px;
    height: 42px;
    fill: #000;
}

nav > div > a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: 0.2s;
}

nav > div > a:hover {
    font-size: 19px;
    color: #000;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type='text'], input[type='url'] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type='text'] {
    width: 100%;
}

input[type='submit'] {
    height: 100%;
    width: 80%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

input[type='submit']:hover {
    background-color: #45a049;
}

.ad {
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 600px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50px;
        background-color: #f5f5f5c5;
    }

    nav > div:first-child {
        grid-column: 1/2;
    }

    nav > div:last-child {
        grid-column: 2/3;
        gap: 20px;
    }
}
