@font-face {
    font-family: 'gg sans';
    src: url('ggsans-Bold.eot');
    src: local('gg sans Bold'), local('ggsans-Bold'),
        url('ggsans-Bold.eot?#iefix') format('embedded-opentype'),
        url('ggsans-Bold.woff2') format('woff2'),
        url('ggsans-Bold.woff') format('woff'),
        url('ggsans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('ggsans-Medium.eot');
    src: local('gg sans Medium'), local('ggsans-Medium'),
        url('ggsans-Medium.eot?#iefix') format('embedded-opentype'),
        url('ggsans-Medium.woff2') format('woff2'),
        url('ggsans-Medium.woff') format('woff'),
        url('ggsans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
